.header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header img {
  width: 80px;
}
.header h2 {
  width: 100%;
  text-shadow: 2px 2px 2px gray;
  text-align: center;
}

.hr {
  margin: 10px 0;
  height: 2px;
  background: gray;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px;
}

.panel img {
  width: 20px;
}

.btn {
  padding: 5px;
  font-size: 18px;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  margin: 0 5px;
  text-shadow: 2px 2px 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  color: rgb(41, 41, 41);
  background: gray;
  box-shadow: 0px 0px 5px 0px white;
}

.loader {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 4px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.block_users {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pages {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  padding: 7px;
  border: 1px solid white;
  border-radius: 7px;
  margin: 5px;
  cursor: pointer;
}
.current-page {
  border-radius: 7px;
  padding: 7px;
  margin: 5px;
  border: 3px solid gray;
  background: gray;
}
.page:hover {
  background: gray;
}

@media screen and (max-width: 400px) {
  .search_input {
    width: 180px;
  }
  .pages {
    flex-wrap: wrap;
  }
}
